/* E8F1F5
005691
004A7C */

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #dcd6f7;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #3582da;
    border-radius: 50px;
    border-top: 5px solid #87befc;
}

::-webkit-scrollbar-thumb:hover {
    background: #1e2240;
    border-radius: 50px;
}

ul {
    list-style: none;
}

input,
textarea,
button,
select {
    font: inherit;
}
body {
    font-family: tajawal, monospace !important;
}

main {
    overflow-y: hidden;
}

.main-panel {
    margin-right: 300px;
    overflow-y: auto;
    max-height: 90vh;
}
.sec {
    background-color: #fff;
    border-radius: 2rem;
    padding: 25px 10px;
    min-height: 70vh;
}
/* .sec {
    background: #f1effa;
    margin: 40px;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid #f9f9fc;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    min-height: 90vh;
} */
.tit {
    margin: 15px 35px 35px 35px;
}
.card-header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

@font-face {
    font-family: tajawal;
    src: url(../fonts/Droid-Arabic-Naskh-Regular.ttf);
}
.sidebar {
    position: fixed;
}

.tooltip-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.tooltip {
    opacity: 0;
    z-index: 99;
    color: #bbb;
    width: 100px;
    display: block;
    font-size: 14px;
    font-family: 'cairo', serif;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center !important;
    text-shadow: 1px 1px 2px #111;
    background: rgba(51, 51, 51, 0.9);
    border: 1px solid rgba(34, 34, 34, 0.9);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    right: -27px;
    top: 50px;
}

.tooltip:before,
.tooltip:after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(51, 51, 51, 0.9);
    position: absolute;
    top: -10px;
    left: 43%;
}

.tooltip-container:hover .tooltip,
a:hover .tooltip {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
